@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --bg-colour:#aa8852;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
  body {
    background-image: url("/images/g3.jpg");
    font-family: 'Andika New Basic', sans-serif;
    background-position: center;
    height:100vh;
    background-size: cover;
    overflow: hidden;
  }
  h1 {
    color: white;
    margin-left:1em;
    opacity: .7;
  }
  textarea {
    width: 50%;
    height: 10vh;
    border-radius:.5em;
    display: brown;
    margin: 1rem;
    padding: 1rem;
    background-color:#aa8852;
    opacity: 0.6;
    color: whitesmoke;
    border: 1px solid white;
    font-size:20px;
  }
  button{
      background-color:#aa8852 ;
      padding: .5rem;
      border-radius:.5em;
      opacity: .6;
      font-size: 20px;
      color: white;
      border: 1px solid white;
      

  }

  #output {
    border: 1px solid white;
    height: 10vh;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: #aa8852;
    border-radius:.5em;
    color:white;
    font-size:17px;
    opacity:0.6;
  }
  div{
      margin-left: 2em;
  }

  @media(max-width:650px){
      textarea{
          width: 90%;
      }
      #output{
          width: 90%;
      }
  }
